# GPU-compatible PyTorch packages (install separately with index-url)
torch
torchvision
torchaudio

# ML
numpy
pandas
scikit-learn

# Visualization
matplotlib
seaborn
streamlit

# Utils
tqdm
joblib

# Config / Environment
python-dotenv

# Database
pymongo

tqdm
joblib
plotly